.register{
    text-align: center;
    color: chartreuse;
    background-image: linear-gradient( blue, red,green);
    width: 400px;
    margin-left: 30;
}

.register .general input{
    width: 300px;
    height: 30px;
}
input#First{
    width: 145px;
    height: 30px;
}
input#Last{
    width: 145px;
    height: 30px;
}
input[type="submit"] {
    cursor: pointer;
    
    background-color: blue rgb(2, 40, 71);
}
body {
    display: block;
    margin: 10px;
    border: #ff0000;
}
h5 {
    color: rgb(194, 187, 187);
    display: block;
    font-size: 0.85em;
    font-weight: bolder;
}

 